<body>
  <form class"edit_space" action="/user_spaces/edit" method="post">
    <input type="text" name="name" placeholder="Name">
    <textarea cols="50" rows="5" name="description" placeholder="Description"></textarea>
    <input type="text" name="price" placeholder="Price">
    <input type="submit" value="submit">
  </form>
</body>
