<h1>Spaces</h1>

<% @spaces.each do |space| %>
  <li>
    <%= space.name %>
    <%= space.description %>
    <%= space.price %>
    <form action='/request/make' method='post'>
      <button id='request' type='submit' name='request' value='<%=space.id%>'>
      Request Space</button>
    </form>
  </li>
<% end %>
