<h1>Spaces</h1>
<form action="/log-out" method="post">
  <button type="submit" value="Log out">Log out</button>
</form>

<% @spaces.each do |space| %>
  <li>
    <%= space.name %>
    <%= space.description %>
    <%= space.price %>
    <form action='/request/make' method='post'>
      <button id='request' type='submit' name='request' value='<%=space.id%>'>
      Request Space</button>
    </form>
  </li>
<% end %>

<form class="add_space" action="/new/space" method="get">
  <input type="submit" value="add_space" placeholder="Add space">
</form>
