<h1>Spaces</h1>

<% @spaces.each do |space| %>
  <li>
    <%= space.name %>
    <%= space.description %>
    <%= space.price %>
    <form action='/request/make' method='post'>
      <button id='request' type='submit' name='request' value='<%=space.id%>'>
      Request Space</button>
    </form>
  </li>
<% end %>

<form action='/user_spaces' method='get'>
  <button id='my_spaces' type='submit' name='my_spaces'>
  My spaces</button>
</form>

<form class="add_space" action="/new/space" method="get">
  <input type="submit" value="add_space" placeholder="Add space">
</form>
