<body>

  <form action="/charge" method="post" class="payment">
      <article>
        <label class="amount">
          <span>Please pay here for your booking of <%=@booking.space.name%>.<br>
          This space is owned by <%=User.get(@booking.space.user_id).username%><br>
          Amount: <%=@booking.space.price%></span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= settings.publishable_key %>"
              data-description="A month's subscription"
              data-amount="500"
              data-locale="auto"></script>
    </form>

</body>
