body{
 font-family: 'Abel', sans-serif;
}

h1{
 text-transform: uppercase;
 letter-spacing: 3px;
}

h2{
 /*text-transform: uppercase;*/
 letter-spacing: 3px;
 margin: 0px 0px 0px 0px;
 padding: 0px 0px 40px 0px;
}

/*   HEADER   */
div#header-fixed {
 position:fixed;
 top:0px; margin:auto;
 z-index:100000;
 width:100%;
}

div#logo{
  height: 50%;
}

a {
  /*width: 32.5%;
  min-width: 310;
  max-width: 410;*/
  text-decoration: none;
  width: 200px;
  border: none;
  background-color: transparent;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 0.9em;
  padding-left: 0;
  margin: 8px 8px 8px 8px;
}

a:hover {
 opacity: 0.4;
}

button[class="log_out" i] {
  top: 0;
  position:fixed;
  text-decoration: none;
  width: 200px;
  border: none;
  background-color: transparent;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 0.9em;
  margin: 0px 0px 0px 30%;
  padding: 10px;
  float: right;
}

button[class="log_out" i]:hover {
 opacity: 0.4;
}
/*----------------------------*/


/*   INDEX   */
div#index {
  background: rgba(255, 255, 255, 0.9);
  width: 22%;
  padding: 30px 0px 30px 0px;
}

button[class="index_button" i] {
  width: 32.5%;
  /*min-width: 310;
  max-width: 410;*/
  border: none;
  background-color: transparent;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 18px;
  /*border: 1px solid black;*/
  padding: 15px 0px 15px 0px;
}

button[class="index_button" i]:hover {
 opacity: 0.4;
}
/*----------------------------*/


/*   SPACES/MY SPACES   */
div.all_spaces_box{
  width: 50%;
  margin: 20px;
  min-width: 310;
  overflow: auto;
  /*background-color: #A8A7A7;*/
  align: center;
}

 div.space_box{
   padding: 10px 10px 10px 10px;
   margin: 10px 10px 10px -30px;
   align: center;
   background: #;
   color: #594F4F;
 }

 div.space_name{
  font-weight: bold;
  font-size: 24px;
}

ul#spaces {
 list-style-type: none;
 font-size: 14px;
}

div.request{
  border: 1px solid #594F4F;
  width: 80%;
  border-radius: 5px;
  padding: 0px 0px 15px 0px;
}

button[class="space_button" i] {
  width: 20%;
  /*min-width: 310;
  max-width: 410;*/
  background-color: transparent;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  color: #594F4F;
  font-size: 12px;
  border: 1px solid #594F4F;
  border-radius: 5px;
  padding: 5px 0px 5px 0px;
  margin: 5px 0px 5px 0px
}

button[class="space_button" i]:hover {
 opacity: 0.4;
}

input[type="submit"] {
  width: 5%;
  /*min-width: 310;
  max-width: 410;*/
  background-color: transparent;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  color: #594F4F;
  font-size: 12px;
  border: 1px solid #594F4F;
  border-radius: 5px;
  padding: 1px 0px 1px 0px;
}

input[type="submit"]:hover {
 opacity: 0.4;
}
/*----------------------------*/


/*   ADD SPACE   */
input[type="text"] {
  margin: 0px 0px 20px 0px;
}
input[type="number"] {
  margin: 20px 0px 20px 0px;
}
input[type="date"] {
  margin: 0px 0px 20px 0px;
}
/*----------------------------*/


/*   REQUEST   */
button[class="cancel_request"] {
  width: 20%;
  /*min-width: 310;
  max-width: 410;*/
  background-color: transparent;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  color: #594F4F;
  font-size: 12px;
  border: 1px solid #594F4F;
  border-radius: 5px;
  padding: 5px 0px 5px 0px;
  margin: 5px 0px 5px 0px;
}

button[class="cancel_request"]:hover {
 opacity: 0.4;
}
/*----------------------------*/


/*   REQUEST   */
button[class="payment"] {
  width: 20%;
  /*min-width: 310;
  max-width: 410;*/
  background-color: transparent;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  color: #594F4F;
  font-size: 12px;
  border: 1px solid #594F4F;
  border-radius: 5px;
  padding: 5px 0px 5px 0px;
  margin: 5px 0px 5px 0px
}

button[class="payment"]:hover {
 opacity: 0.4;
}
/*----------------------------*/
