<body>
  <h2>Welcome to MakersBNB</h2>
  <form action='/log-in' method='get'>
    <button name='log-in' type='submit'>Log in</button>
  </form>
  <form action='/sign-up' method='get'>
    <button name='sign-up' type='submit'>Sign up</button>
  </form>
</body>
