<body background="background.jpg" style="background-size:cover;">
  <h2>Welcome to MakersBNB</h2>
  <div id="index">
  <form action='/log-in' method='get'>
    <button class="index_button" name='log-in' type='submit'>Log in</button>
  </form>
  <form action='/sign-up' method='get'>
    <button class="index_button" name='sign-up' type='submit'>Sign up</button>
  </form>
  <div>
</body>
