<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abel">
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  <center>
</head>

<body>
   <%= yield %>
</body>
